.github-links {
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

a.github-link {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.github-link img {
  width: 50px;
}

@media (min-width: 960px) {
  .image-container {
    width: 60%;
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
}

.image-row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width: 960px) {
  .image-row {
    flex-wrap: nowrap;
  }
  
  .image-row img {
    flex: 1;
  }
}
