:root {
  /* https://coolors.co/fd937c-ea6f54-42081c-8e2449-103957-0f2941 */
  --salmon: #fd937c;
  --burnt-sienna: #EA6F54;
  --chocolate-cosmos: #42081C;
  --magenta: #8E2449;
  --blue: #103957;
  --blue-dark: #0F2941;
  --rich-dark: #101F2D;
}

html, body {
  font-family: monospace;
  background-color: var(--rich-dark);
  color: var(--salmon);
  font-size: 1.1rem;
}

img {
  max-width: 100%;
}

.content-width {
  max-width: min(960px, calc(100% - 30px));
  margin: auto;
}

.inverted {
  background: var(--salmon);
  color: var(--rich-dark);
}

#main {
  padding-bottom: 4rem;
}

#main > * {
  margin-top: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero .logo {
  margin: auto;
  margin-top: 2rem;
  width: 250px;
}

.social-media-container .bio-container {
  flex: 1 1 0;
}

.bio {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.social-media {
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  color: white;
  gap: 1rem;
}

.team-header {
  text-align: center;
  overflow: hidden;
}

.team-header::before, .team-header::after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px dashed;
}
.team-header::after {
  margin: 0 -55% 0 .5em;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 1rem;
}

.team-member {
  /* text-align: center; */
}

.member-name {
  font-weight: bold;
  font-size: 1.1em;
}

@media (min-width: 960px) {
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  .hero .logo {
    flex: 1 0 230px;
  }

  .social-media-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .social-media {
    margin-top: auto;
  }
}