/* Responsive width breakpoint: 960px */

:root {
  /* https://coolors.co/fd937c-ea6f54-42081c-8e2449-103957-0f2941 */
  --bittersweet-red: #ff706b;
  --salmon: #fd937c;
  --burnt-sienna: #EA6F54;
  --chocolate-cosmos: #42081C;
  --magenta: #8E2449;
  --blue: #103957;
  --blue-dark: #0F2941;
  --rich-dark: #101F2D;
}

html, body {
  font-family: monospace;
  background-color: var(--rich-dark);
  color: var(--bittersweet-red);
  font-size: 1.1rem;
}

img {
  max-width: 100%;
}

figcaption {
  color: rgba(255, 255, 255, 0.4);
  text-align: right;
}

a:link, a:visited {
  color: inherit;
  font-weight: bold;
}

.content-width {
  max-width: min(960px, calc(100% - 30px));
  margin: auto;
}

.scheme-inverted {
  background: var(--bittersweet-red);
  color: var(--rich-dark);
}

#main {
  padding-bottom: 4rem;
}

#main > .section {
  margin-top: 2rem;
}

h1.page-title {
  font-size: 2.5rem;
}
